[Unit]
Description=Doorbell Server
After=network.target

[Service]
WorkingDirectory=/home/pi
ExecStart=/bin/sh /home/pi/doorbellServer.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=doorbell
User=root
Group=root

[Install]
WantedBy=multi-user.target
